<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MaxDel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<pre>
    Hi, I'm <strong>MaxDel</strong> 👨‍💻

    🔗 GitHub:  <a href="https://github.com/maximedelis" target="_blank">github.com/maximedelis</a>
    🔗 LinkedIn: <a href="https://www.linkedin.com/in/maxime-🐙-delis-365379129" target="_blank">linkedin.com/in/maxime-🐙-delis</a>
    ✉️ Email:    contact@maxdel.ovh
</pre>
</body>
</html>
